<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Error</title>
    </head>
    
    <body>
        <header>
            <h1>Ha ocurrido un Error</h1>
            <p>Por favor ponerse en contacto con el Soporte Tecnico para recibir mas ayuda.</p>
        </header>

        <form action="/" method="get">
            <div>
                <input type="submit" class="backhome" value="Volver al Inicio">
            </div>
        </form>
        
    </body>
</html>